.row {
    margin: 0%;
    padding: 20px;
}

h1 {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

#bio {
    font-family: 'Raleway', helvetica, sans-serif;
        margin-top: 1rem;
    }

/*estilo nombre*/
#nombre {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 0;
}

#titulo {
    font-family: 'Raleway', helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -1em;
    margin-left: 0;
    margin-bottom: 2em;
}

div {
    background-color: #B8E2F2;
    text-align: left;
}

/*estilo pfp*/

/*smartphone*/
@media (max-width:767px) {
    #pfp {
        position: absolute;
        width: 30%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        left: 35%;
        top: 350px
    }

    #nombre {
        margin-top: 2em;
    }
}


/*tablets*/
@media (min-width: 768px) {
    #pfp {
        position: relative;
        width: 75%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        top: -150px;
    }

    #nombre {
        margin-top: -6.5em;   
    }
}

/*laptop*/
@media (min-width: 1024px) {
    #pfp {
        position: relative;
        width: 75%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        top: -150px;
    }

    #nombre {
        margin-top: -6em;   
    }
}

/*desktop*/
@media (min-width: 1200px) {
    #pfp {
        position: relative;
        width: 75%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        top: -160px;
    }

    #nombre {
        margin-top: -7em;   
    }
}

/*desktop grande*/
@media (min-width: 1440px) {
    #pfp {
        position: relative;
        width: 75%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        top: -200px;
    }
    
    #nombre {
        margin-top: -9em;   
    }
}

/*desktop HD+*/
@media (min-width: 1600px) {
    #pfp {
        position: relative;
        width: 50%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        top: -250px;
    }

    #nombre {
        margin-top: -11em;   
    }
}