.row {
    margin: 0%;
    padding: 30px;
}

div {
    background-color: #B8E2F2;
    text-align: left;
}

#bio {
    text-align: justify;
}

/*estilo pfp*/

/*smartphone*/
@media (max-width:767px) {
    #pfp {
        position: absolute;
        width: 30%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        left: 35%;
        top: 350px
    }
}


/*tablets*/
@media (min-width: 768px) {
    #pfp {
        position: absolute;
        width: 20%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        left: 8.75%;
        top: 300px;
    }

    #bio {
        margin-top: 30px;
    }
}

/*laptop*/
@media (min-width: 1024px) {
    #pfp {
        position: absolute;
        width: 20%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        left: 8.75%;
        top: 340px;
    }
}

/*desktop*/
@media (min-width: 1200px) {
    #pfp {
        position: absolute;
        width: 20%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        left: 8.75%;
        top: 360px;
    }
}

/*desktop grande*/
@media (min-width: 1440px) {
    #pfp {
        position: absolute;
        width: 20%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        left: 8.75%;
        top: 400px;
    }
}

/*desktop HD+*/
@media (min-width: 1600px) {
    #pfp {
        position: absolute;
        width: 20%;
        height: auto;
        border-radius: 25%;
        box-shadow: 5px 5px 5px rgb(40, 40, 40);
        left: 7.5%;
        top: 480px;
    }
}


/*estilo nombre*/
#nombre {
    font-weight: bold;
    font-size: large;
    margin-top: 2.5em;
    margin-left: 0;
}

#titulo {
    font-weight: lighter;
    font-size: medium;
    margin-top: -1em;
    margin-left: 0;
    margin-bottom: 2em;
}