<div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img src="../../../assets/pfp.jpg"class="img-fluid" id="pfp">
        <p id="nombre">Héctor Nicolás Loto</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs12 col-sm-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed adipiscing diam donec adipiscing tristique risus. Eget nunc scelerisque viverra mauris in aliquam sem fringilla.</p>
        </span>
    </div>
</div>