<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div id="nombre" class="col-sm-12 col-md-6 col-lg-6">
            <h3>Portfolio #YoProgramo</h3>
            <p id="desc">Desarrollo una aplicación web full stack que presenta: datos personales, estudios cursados,
                experiencia laboral, conocimiento de las tecnologías y habilidades. Arquitectura distribuida y diseño de
                interfaz de usuario (frontend) que muestra la información, una base de datos que almacene los datos
                antes mencionados y las APIs necesarias para proveer a través de internet la información (backend).</p>
        </div>
        <div id="preview" class="col-sm-12 col-md-6 col-lg-6">
            <img src="../../../assets/portfolio ref.png" class="img-fluid">
        </div>
    </div>
</div>