<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-6 nombre">
            <h3>Portfolio #YoProgramo</h3>
            <p id="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus cumque ipsam dicta aut at sed consequuntur veritatis fugit reprehenderit necessitatibus, quae totam, dolorem eum, dolorum ipsa ducimus amet odit nemo?</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 preview">
        <img src="../../../assets/portfolio.png" class="img-fluid">
        </div>
    </div>
</div>