<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h3>Trabajo</h3> - <h5>(years)</h5></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ad ipsa dolorum debitis, eveniet possimus veritatis iste tempora nam hic cupiditate nobis. Adipisci a consectetur, quisquam voluptate eveniet est reiciendis?</p>
        </ul>
        <ul>
            <li><h3>Trabajo 2</h3> - <h5>(years)</h5></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ad ipsa dolorum debitis, eveniet possimus veritatis iste tempora nam hic cupiditate nobis. Adipisci a consectetur, quisquam voluptate eveniet est reiciendis?</p>
        </ul>
    </div>
</div>