<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans|Raleway">
<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/new-edu" *ngIf="isLoggedIn">
            Añadir educación
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <thead>
                <tr>
                    <th>Institución</th><th>Título</th><th>Periodo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h3>{{Educacion.nombreEd}}</h3>
                    </td>
                    <td>
                        <h3>{{Educacion.descEd}}</h3>
                    </td>
                    <td>
                        <h3>{{Educacion.inicioEd}} - {{Educacion.finalEd}}</h3>
                    </td>
                    <td *ngIf="isLoggedIn">
                        <button class="btn btn-outline-primary" routerLink="/edit-work/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i>Editar</button>
                    </td>
                    <td *ngIf="isLoggedIn">
                        <button class="btn btn-outline-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash"></i>Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>