div {
    background: #B8E2F2;
    margin-bottom: 30px;
}

.row {
    margin: 0%;
    padding: 20px;
}

h1{
    font-family: 'Open Sans', helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}