<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [startFromZero]="true" [percent]="80" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageHeight]="75" [imageWidth]="75" [imageSrc]="'../assets/skills/HTML5.png'" [outerStrokeWidth]="20"
            [innerStrokeWidth]="10" [outerStrokeColor]="'#F57328'" [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#E14D2A'" [innerStrokeColor]="'#4C6793'" [animation]="true"
            [animationDuration]="1500"></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [startFromZero]="true" [percent]="85" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageHeight]="75" [imageWidth]="75" [imageSrc]="'../assets/skills/CSS3.png'" [outerStrokeWidth]="20"
            [innerStrokeWidth]="10" [outerStrokeColor]="'#F57328'" [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#E14D2A'" [innerStrokeColor]="'#4C6793'" [animation]="true"
            [animationDuration]="1500"></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [startFromZero]="true" [percent]="100" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageHeight]="75" [imageWidth]="75" [imageSrc]="'../assets/skills/GitHub-Logo.png'" [outerStrokeWidth]="20"
            [innerStrokeWidth]="10" [outerStrokeColor]="'#F57328'" [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#E14D2A'" [innerStrokeColor]="'#4C6793'" [animation]="true"
            [animationDuration]="1500"></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [startFromZero]="true" [percent]="75" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageHeight]="50" [imageWidth]="50" [imageSrc]="'../assets/skills/cooperation.png'"
            [backgroundColor]="'#424242'" [backgroundPadding]="-75" [outerStrokeWidth]="15" [innerStrokeWidth]="5"
            [outerStrokeColor]="'#59CE8F'" [outerStrokeGradientStopColor]="'#3E8E7E'" [innerStrokeColor]="'#4C0033'"
            [animation]="true" [animationDuration]="1500"></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [startFromZero]="true" [percent]="100" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageHeight]="50" [imageWidth]="50" [imageSrc]="'../assets/skills/manner.png'"
            [backgroundColor]="'#424242'" [backgroundPadding]="-75" [outerStrokeWidth]="15" [innerStrokeWidth]="5"
            [outerStrokeColor]="'#59CE8F'" [outerStrokeGradientStopColor]="'#3E8E7E'" [innerStrokeColor]="'#4C0033'"
            [animation]="true" [animationDuration]="1500"></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [startFromZero]="true" [percent]="80" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageHeight]="50" [imageWidth]="50" [imageSrc]="'../assets/skills/optimistic.png'"
            [backgroundColor]="'#424242'" [backgroundPadding]="-75" [outerStrokeWidth]="15" [innerStrokeWidth]="5"
            [outerStrokeColor]="'#59CE8F'" [outerStrokeGradientStopColor]="'#3E8E7E'" [innerStrokeColor]="'#4C0033'"
            [animation]="true" [animationDuration]="1500"></circle-progress>
    </div>
</div>