<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/arg-programa.png" id="logo">
        </div>
        <div class="contact">
            <a href=""><img src="../../../assets/twitter-32x32-4803403.png" id="twitter"></a>
            <a href=""><img src="../../../assets/instagram-32x32-4803375.png" id="instagram"></a>
            <a href=""><img src="../../../assets/linkedin-32x32-4803378.png" id="linkedin"></a>
            <button type="button" class="btn btn-success" (click)="login()" *ngIf="!isLoggedIn">Ingreso</button>
            <button type="button" class="btn btn-danger" (click)="onLogOut()" *ngIf="isLoggedIn">Cerrar sesión</button>
        </div>
    </div>
</div>