<div class="row">
    <div class="container">
        <div class="logo">
            <a target="_blank" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa/"><img src="../../../assets/arg-programa.png"
                    id="logo"></a>
        </div>
        <div class="contact">
            <a target="_blank" href="https://www.twitter.com/lxtx__/"><img
                    src="../../../assets/twitter-32x32-4803403.png" id="twitter"></a>
            <a target="_blank" href="https://www.instagram.com/lxtx__/"><img
                    src="../../../assets/instagram-32x32-4803375.png" id="instagram"></a>
            <a target="_blank" href="https://www.linkedin.com/in/nicolasloto/"><img
                    src="../../../assets/linkedin-32x32-4803378.png" id="linkedin"></a>
            <button type="button" class="btn btn-success" (click)="login()" *ngIf="!isLoggedIn">Ingreso</button>
            <button type="button" class="btn btn-danger" (click)="onLogOut()" *ngIf="isLoggedIn">Cerrar sesión</button>
        </div>
    </div>
</div>